div[spa-voucher-account] {
  display: grid;
  grid-template-columns: auto minmax(300px,600px) auto;
  grid-template-rows: auto 10px auto 10px auto 10px auto 10px auto;
  margin: 10px 0px 100px 0px;
}


div[bookings] {
  grid-column: 2 / 3;
  grid-row: 7;
  display: grid;
  margin: 10px 0px 10px 0px;
}
div[orders] {
  grid-column: 2 / 3;
  grid-row: 9;
  display: grid;
  margin: 10px 0px 10px 0px;
}

div[vouchers] {
  grid-column: 2 / 3;
  grid-row: 5;
  display: grid;
  margin: 10px 0px 10px 0px;
}

div[signout] {
  grid-column: 2 / 3;
  grid-row: 1;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

div[details] {
  grid-column: 2 / 3;
  grid-row: 3;
  display: grid;
}
