div[spa-voucher-venue-info] {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  margin: 8px 0;
}

div[title] {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  justify-items: center;
  align-items: center;
  font: 200 22px/24px Raleway, sans-serif;
  z-index: 1;
  height: auto;
}

div[breaker] {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  justify-items: center;
  align-items: center;
  div {
    width:30px;
    height:4px;
    background-color: #ff4081;
    margin : 8px
  }
}

div[detail] {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  justify-items: start;
  align-items: start;
  font: 100 14px/20px Raleway, sans-serif;
  text-align: justify;

}
