<ng-container *ngIf="(package$ | async) as package">
  <div spa-voucher-package>
    <div name>
      <div>{{package?.package_name}}</div>
    </div>
    <div indicators>
      <div></div>
    </div>
    <div markdown>
      <markdown [data]="package?.package_description" ngPreserveWhitespaces></markdown>
    </div>
    <div pricing>
      <div day-price *ngFor="let price of package?.pricing;let day_number=index">
        <div weekday>{{['Mon','Tue','Wed','Thu','Fri','Sat','Sun'][day_number]}}</div>
        <div price *ngIf="price">£{{price | number:'0.0-0'}}</div>
        <div unavailable *ngIf="!price">-</div>
      </div>
    </div>
  </div>
</ng-container>
